$screen-color: #90a4ae;
$background-color: #eceff1;
$background-color-alpha: #eceff1f6;
$background-secondary-color: #cfd8dc;
$text-color: #37474f;

$primary-color: #00695c;
$secondary-color: #ff9800;
$danger-color: #ff4136;
